footer {
    padding-bottom: 25px;

    h3 {
        display: inline;
        font-size: clamp(34px, 6vw + 1.5rem, 46px);
        font-weight: 600;
        z-index: 2;
        position: relative;
    }

    .contact {
        @include md {
            margin-bottom: -40px;
        }

        a {
            display: contents;
        }

        .contact-button {
            z-index: 1;
            position: relative;
            top: -39px;
            right: -188.8px;
            border-radius: 100%;
            width: 198px;
            height: 198px;
            display: flex;
            flex-direction: row;
            gap: 12px;
            justify-content: center;
            align-items: center;
            padding: 30px;

            &:hover {
                @include themify($themes) {
                    background-color: themed('accentColor');
                    border: 1px solid themed('secondaryTextLightColor');
                }

                .arrow svg {
                        rotate: -45deg;
                
                        @include themify($themes) {
                            color: themed('backgroundColor');
                        }
                    }
                
                .arrow {
                    @include themify($themes) {
                        background-color: transparent;
                        border: 1px dashed themed('backgroundColor');
                    }
                }

                p {
                    @include themify($themes) {
                        color: themed('backgroundColor');
                    }
                }
            }

            @include sm {
                right: -33vw;
            }
    
            @include themify($themes) {
                background-color: themed('iconBox');
                border: 1px solid themed('secondaryTextLightColor');
            }
    
            p {
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 600;
                text-align: right;
            }

            .arrow {
                vertical-align: middle;
                padding: 20px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;

                @include themify($themes) {
                    border: 1px dashed themed('primaryTextColor');
                    background-color: themed('iconBox');
                }
                
                svg {
                    transition: rotate 0.2s cubic-bezier(.17, .67, .84, .6);
                }
            }
        }
    }

    .socials {
        .icons {
            margin-top: 5px;
            margin-left: 25px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 12px;

            a {
                display: block;
                padding: 15px;
                border-radius: 100%;
                font-size: 20px;
                transition: background 0.2s cubic-bezier(.17, .67, .84, .6);
                
                @include themify($themes) {
                    border: 1px dashed themed('primaryTextColor');
                    background-color: themed('iconBox');
                }

                &:hover {
                    @include themify($themes) {
                        background-color: transparent;
                    }

                    svg {
                        @include themify($themes) {
                            color: themed('accentColor');
                        }
                    }
                }
            }
        }
    }

    .site-details {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-transform: uppercase;
        font-weight: 600;
        text-align: right;
        line-height: 20px;
    
        p {
            font-size: 20px;
        }

        .light-accent {
            @include themify($themes) {
                color: themed('secondaryTextLightColor');
            }
        }
    }
}