@import "@/styles/variables.scss";

.header {
    position: absolute;
    top: 54px;
    left: $padding-left-desktop;
    right: $padding-right-desktop;
}

.themesList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.theme {
    width: 48px;
    height: 48px;
    rotate: -15deg;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
}