@import '@/styles/variables.scss';
@import '@/styles/themes.scss';
@import '@/styles/responsive.scss';

.hero {
    margin-bottom: 94px;

    .title h1 {
        clip-path: polygon(0 0, 100% 0, 100% 200%, 0% 100%);
        font-size: clamp(56px, 6vw + 2.3rem, 156px);
        font-weight: 600;
        text-align: center;
        line-height: calc(100px + 1vw);

        @include xxl {
            font-size: clamp(56px, 6vw + 1.8rem, 156px);
        }

        @include lg {
            font-size: clamp(56px, 6vw + 5.1rem, 156px);
            line-height: calc(146px + 1vw);
        }

        @include sm {
            text-align: left;
            font-size: clamp(56px, 6vw + 2.3rem, 156px);
            line-height: calc(64px + 1vw);
        }

        .new-line {
            display: none;

            @include lg {
                display: block;
            }
        }
    }

    .subtitle {
        .description {
            display: flex;
            flex-direction: column;
            gap: $margin-desktop;

            @include sm {
                gap: $margin-mobile;
            }
        }

        .work-details {
            text-transform: uppercase;
            font-weight: 600;
            text-align: right;
            line-height: 20px;

            p {
                font-size: 20px;
            }
        }

        .work-details-col {
            @include xl {
                display: none;
            }
        }
    }
}