$themes: (
    default: (
        backgroundColor: #EEEEEE,
        primaryTextColor: #222222,
        secondaryTextColor: #888888,
        secondaryTextLightColor: #B8B8B8,
        accentColor: #EC4C08,
        boxShadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
        iconBox: #FBFBFB
    ),
    pulpFiction: (
        backgroundColor: #FEE41B,
        primaryTextColor: #C9261B,
        secondaryTextColor: #6b6a6a,
        secondaryTextLightColor: #484848,
        accentColor: #1571E0,
        boxShadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
        iconBox: #FBFBFB
    ),
    bladeRunner: (
        backgroundColor: rgb(12, 17, 118),
        primaryTextColor: #e9e9e9,
        secondaryTextColor: #c4c4c4,
        secondaryTextLightColor: #c8c8c8,
        accentColor: #c51a1a,
        boxShadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
        iconBox: #FBFBFB
    ),
    theMatrix: (
        backgroundColor: rgb(33, 33, 33),
        primaryTextColor: #e9e9e9,
        secondaryTextColor: #6b6a6a,
        secondaryTextLightColor: #484848,
        accentColor: #1fca0f,
        boxShadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
        iconBox: #5c5c5c
    ),
    2001: (
        backgroundColor: #5FBED4,
        primaryTextColor: #A4160A,
        secondaryTextColor: #6b6a6a,
        secondaryTextLightColor: #484848,
        accentColor: #2D333F,
        boxShadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
        iconBox: #FBFBFB
    ),
    tva: (
        backgroundColor: #262828,
        primaryTextColor: #FF8323,
        secondaryTextColor: #6b6a6a,
        secondaryTextLightColor: #484848,
        accentColor: #FD474F,
        boxShadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
        iconBox: #5c5c5c
    ),
    her: (
        backgroundColor: #C93825, //#CE4243
        primaryTextColor: #F0F0F0,
        secondaryTextColor: #cbcbcb,
        secondaryTextLightColor: #dcdcdc,
        accentColor: #222222,
        boxShadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
        iconBox: #FBFBFB
    )
);

@mixin themify( $themes: $themes ) {
  @each $theme, $map in $themes {

    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
};

@function themed($key) {
    @return map-get($theme-map, $key);
};